name: Build and Release AF3 Singularity Image

on:
  workflow_dispatch: # 允许手动点击按钮触发

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # 赋予创建 Release 的权限

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Singularity
        uses: eidos-lab/setup-singularity@main
        with:
          singularity-version: 3.8.3

      - name: Build SIF Image
        run: |
          # 增加 --fakeroot 模拟 root 权限构建
          sudo singularity build alphafold3.sif alphafold3.def

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v1.0.${{ github.run_number }}
          name: AlphaFold3 SIF Release v1.0.${{ github.run_number }}
          draft: false
          prerelease: false
          files: alphafold3.sif
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
